# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Example binaries
**/build
**/main

# Raylib demo
examples/raylib/5.5.tar
examples/raylib/include
examples/raylib/lib
examples/raylib/raylib-5.5
